.calendarBottomText {
  text-anchor: middle;
  fill: #AEAEAE;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarBottomTick {
  stroke: #e6e4e4;
}

.calendarTopTick {
  stroke: #81c0c1;
}

.calendarTopText {
  text-anchor: middle;
  fill: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #ffffff;
  stroke: #e0e0e0;
  stroke-width: 1.4;
}

.calendarTopHeader {
  fill:#F4F9F9;
  stroke: #e0e0e0;
  stroke-width: 1.4;
}

.calendarBottomHeader {
  fill:#ffffff;
}

.calendarTodayBox {
  fill: #267A8E;
  rx: 5;
}

.calendarTodayBoxBackround {
  fill: #267A8E;
}

.calendarTodayBoxLine {
  stroke: #267A8E;
  stroke-width: 1.6;
}

.calendarTodayFont {
  fill: #FFFFFF;
  font-size: 10px;
}
